body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
.search-box {
  display: flex;
  flex-direction: row;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-inpt {
  padding: 0.8rem 1rem;
  width: 30rem;
  font-size: 1.7rem;
  border: none;
  outline: none;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 1rem gray;
}
.search-btn {
  outline: none;
  border: none;
  border-radius: 0 0 0 0;
  padding: 0.8rem 1rem;
  font-size: 1.7rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0 1rem gray;
  background-color: rgb(223, 219, 219);
}
.search-btn:hover {
  background-color: rgb(190, 216, 231);
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 3rem;
  transition: 0.6s;
  width: 35rem;
  min-height: 48rem;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.product-title {
  font-size: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: white;
}
.fa-star {
  color: goldenrod;
}
.fa-star-half-alt {
  color: goldenrod;
}
.cart-main {
  padding-right: 30px;
}

/* modal style  */
#modal-img {
  width: 70rem;
  height: 20rem;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
